.post-container {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 30px;
}
.post-header {
    display: flex;
    padding: 5px 10px;
}
.post-header img {
    max-width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.post-image {
    min-width: 100%;
    max-width: 30%;
}