body,
html {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    height: 100vh;
}
body {
    background-color: #cec6c2;
    color: rgb(114, 114, 114);
    font-family: "Roboto", sans-serif;
}
main {
    margin: 0 auto;
    max-width: 90%;
    min-height: 100%;
    box-shadow: 0px 0px 5px 0px rgba(153, 153, 153, 0.212);
    background-color: #f2e9e4;
}

main > * {
    padding: 1%;
    text-align: center;
}
nav {
    min-height: 36px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f2e9e4;
    position: sticky;
    top: 0;
}
#logo {
    position: absolute;
    left: 1%;
    top: 10%;
    font-size: 1.5rem;
    font-weight: bold;
}
nav a,
nav a:visited {
    color: rgb(114, 114, 114);
}

nav ul,
footer ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 0;
    margin: 0;
}

nav ul li,
footer ul li {
    margin-left: 1%;
    float: right;
    padding-top: 0.5%;
}
nav ul li:first-child {
    float: left;
}
nav ul li a,
footer ul li a {
    display: block;
    padding-top: 0;
}
header {
    max-width: 100%;
    background: #686462;
    background-image: linear-gradient(71deg,#686462, #979796 73%,#a8a8a8);
    color: white;
}

.container {
    background-color: #f2e9e4;
}

.conteudo ul {
    list-style-position: inside;
}

footer {
    max-width: 100%;
    background-color: #f2e9e4;
}
footer h4 {
    display: inline;
}
footer ul {
    display: block;
}
footer ul li {
    float: left;
}

a {
    color: rgba(11, 8, 179, 0.911);
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: #211b36;
}
a:hover {
    text-decoration: underline;
}

img {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0px 5px 0px rgba(153, 153, 153, 0.212);
}
table th {
    background-color: #686462;
    position: sticky;
    top: 36px;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: rgb(241, 241, 241);
}
table tr {
    text-align: center;
    background-color: white;
    border-bottom: 2px solid #6864624b;
}

form {
    width: 30%;
    margin: 0 auto;
    text-align: justify;
    text-align-last: center;
}

form > *:not(button):not(label) {
    margin-bottom: 5%;
    border-radius: 20px;
    border: 2px solid #6864624b;
    outline: 0;
    height: 20px;
    width: 80%;
}

form button,#btn-top {
    height: 40px;
    width: 110px;
    margin-left: 5px;
    border-radius: 2px;
    background-image: linear-gradient(71deg, #83d194, rgb(167, 243, 157) 73%, #85eb5d);
    border: 0;
    outline: 0;
    color: rgb(100, 108, 136);
    font-weight: bold;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;

}

form button:hover {
    opacity: 0.5;
}
form button:active {
    margin-top: 1%;
    opacity: 0.3;
}
.table-funcionarios img {
    max-width: 100px;
    max-height: 100px;
}
.div-centralizada {
    margin: 0 auto;
    max-width: 28%;
}

.div-sticky-bottom {
    position: fixed;
    top: calc(100vh - 72px);
}
#btn-top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
