html,body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    height: 100vh;
}
* {
    box-sizing: border-box;
}
header {
    background: #ff0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    height: 10%;
}
h1 {
    margin: 0;
}
.searchbar {
    height: 40%;
    border-radius: 20px;
    background: white;
    width: 15%;
    padding-left: 2%
}
input {
    height: 100%;
    width: 80%;
    border: none;
}
img {
    max-width: 100%;
}
.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 2%;
    padding-bottom: 10%;
    justify-content: center;
    grid-gap: 5% 2%;
    height: 80%;
}
.video-card {
    border: 2px solid green;
    text-align: center;
}


.video-player {
    padding: 2%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
video {
    max-height: 80%;
    max-width: 100%;
}

footer {
    background: grey;
    height: 10%;
}